* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#container p {
    padding-top: 20px;
    font-size: 16px;
}
